@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(12%);
    }
}

.supra-container {
    position:relative;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;

}

.supra-pic {

    animation-name: slideInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;

}

.txt-background {

    position: absolute;
    z-index: -2; 
    top: 0px;

}

.BRZ-comments {
    display: flex;
    justify-content: space-evenly;
}